scripts/n8n_premarket_nodes.json
{
  "id": "1004",
  "name": "JARVIS 盤前美股 Shorts 08:00",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      },
      "id": "premarket-cron",
      "name": "Cron 08:00 週一到六",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8003/api/video-gen/premarket-shorts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"privacy\": \"public\" }",
        "options": {
          "timeout": 300000
        },
        "method": "POST"
      },
      "id": "premarket-generate",
      "name": "Generate & Upload Premarket Shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-skipped",
              "leftValue": "={{ $json.skipped }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals", "name": "filter.operator.equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-skipped",
      "name": "Not Skipped?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1490915452631650306/ccglLeI-LK_Ki_KJ0DpUBwAWf-HA7O84AzhylNAogC6nY80F3oh0tyFAJuy1GTXbSSnp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": \"📊 **盤前美股速報已上傳**\\n\\n\" + $json.title + \"\\n\" + $json.youtube_url }",
        "method": "POST",
        "options": {}
      },
      "id": "discord-success",
      "name": "Discord 通知成功",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, -60]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1490915452631650306/ccglLeI-LK_Ki_KJ0DpUBwAWf-HA7O84AzhylNAogC6nY80F3oh0tyFAJuy1GTXbSSnp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": \"⏭️ 盤前速報跳過: \" + ($json.skip_reason || '週末/假日') }",
        "method": "POST",
        "options": {}
      },
      "id": "discord-skipped",
      "name": "Discord 通知跳過",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 120]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1490915452631650306/ccglLeI-LK_Ki_KJ0DpUBwAWf-HA7O84AzhylNAogC6nY80F3oh0tyFAJuy1GTXbSSnp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": \"❌ 盤前速報生成失敗:\\n\" + JSON.stringify($json).substring(0, 500) }",
        "method": "POST",
        "options": {}
      },
      "id": "discord-error",
      "name": "Discord 通知錯誤",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    }
  ],
  "connections": {
    "Cron 08:00 週一到六": { "main": [[{ "node": "Generate & Upload Premarket Shorts", "type": "main", "index": 0 }]] },
    "Generate & Upload Premarket Shorts": {
      "main": [[{ "node": "Not Skipped?", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Discord 通知錯誤", "type": "main", "index": 0 }]]
    },
    "Not Skipped?": {
      "main": [
        [{ "node": "Discord 通知成功", "type": "main", "index": 0 }],
        [{ "node": "Discord 通知跳過", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "active": true
}
